<section id="contact" class="bg-pink-50">
    <p class="">Get in Touch</p>
    <h1 class="">Contact Me</h1>
    <div class="">
      <div class="">
        <img
          src="./assets/email.png"
          alt="Email icon"
          class="icon contact-icon email-icon"
        />
        <p><a href="mailto:examplemail@gmail.com">Example</a></p>
      </div>
      <div class="">
        <img
          src="./assets/linkedin.png"
          alt="LinkedIn icon"
          class=""
        />
        <p><a href="https://www.linkedin.com">LinkedIn</a></p>
      </div>
    </div>
  </section>