<div class="marquee-container overflow-hidden whitespace-nowrap">
  <div class="marquee-content animate-marquee p-5 flex">
    <!-- Marquee Items -->
    @for (item of marqueePayload; track $index) {
    <section class="flex flex-col gap-3 mx-4 px-8 py-4 bg-[#EDF3F8] border-[#F2F2F3] text-black rounded-xl">
      <section class="flex gap-3 items-center">
        <i class="ph {{item.icon}} text-3xl text-[#FF0034]"></i>
        <p>{{item.character}}</p>
      </section>
      <p class="">"{{item.quotes}}"</p>
    </section>
    }
  </div>
</div>

